<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/adminGeneral.html :: headerfiles"/>
<body>
<div th:replace="fragments/adminGeneral.html :: menu"></div>
<div class = "main-div">
    <form action="#" th:object="${role}" th:action="@{/admin/role/save}"
          method="post">
        <fieldset>
            <input type="hidden" th:field="*{id}">
        </fieldset>
        <fieldset>
            Role Name <input type="text" th:field="*{name}">
        </fieldset>
        <fieldset>
            Role Description <input type="text" th:field="*{description}">
        </fieldset>
        <fieldset>
            <input type="submit" value="Save"/>
            &nbsp; &nbsp;
            <input type="reset" value="Reset"/>
        </fieldset>

    </form>
</div>

</body>
</html>