<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/adminGeneral.html :: headerfiles"/>
<body>
<div th:replace="fragments/adminGeneral.html :: menu"></div>
<div class = "main-div">
    <!-- Add Hyperlink -->
    <a class = "button-add" href="AddRole.html" th:href="@{/admin/role/add}">Add</a>
    <table class="content-table" th:unless="${#lists.isEmpty(roles)}" border="1 pt">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="role:${roles}">
            <td th:text="${role.id}">ID</td>
            <td th:text="${role.name}">Name</td>
            <td th:text="${role.description}">Description</td>
            <td ><a href="edit.html" th:href="@{/admin/role/edit/} + ${role.id}">Edit</a>
                <a href="edit.html" th:href="@{/admin/role/delete/} + ${role.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages>0}">
		<div class="row col-sm-10">
			<div class="col-sm-2">
				Total Rows: [[${totalItems}]]
			</div>
			<div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1,totalPages)}">
					<a th:if="${currentPage != i}" th:href="@{'/admin/role/list/' + ${i}}">[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
				</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage<totalPages}" th:href="@{'/admin/role/list/' + ${currentPage +1}}">Next</a>
				<span th:unless="${currentPage<totalPages}">Next</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage<totalPages}" th:href="@{'/admin/role/list/' + ${totalPages}}">Last</a>
				<span th:unless="${currentPage<totalPages}">Last</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>