<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/adminGeneral.html :: headerfiles"/>

<body>
<div th:replace="fragments/adminGeneral.html :: menu"></div>
<div class="main-div">
	<a class = "button-add" th:href="@{/admin/staff/addStaff}">Add New Staff</a>
	<form th:action="@{/admin/staff/list/1}" method="GET">
		Search: <input type="text" name="keyword" th:value="${keyword==''}?'':${keyword}" /> <input type="submit" value="Search" />
	</form>
	
	<table class="content-table" th:unless="${#lists.isEmpty(userList)}" border="1 pt">
		<thead>
			<tr>
				<th>Staff Name</th>
				<th>Staff ID</th>
				<th>Roles</th>
				<th>Email</th>
				<th>Manager</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>	
			<tr th:each="user:${userList}">
				<td th:text="${user.FirstName+' '+user.LastName}">Staff Name</td>
				<td th:text="${user.id}">Staff ID</td>
				<td>
					<span th:each="role:${user.roles}">
							<span th:text="${role.name}+' '">Role</span>
					</span>
				</td>
				<td th:text="${user.email}">Staff Email</td>
				<td th:text="${user.ReportsTo}">Manager</td>
				
				<td ><a href="edit.html" th:href="@{/admin/staff/edit/}+${user.id}">Edit</a> 
				<a href="delete.html" th:href="@{/admin/staff/delete/}+${user.id}+'/'+${currentPage}+'?keyword='+${keyword}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<div th:if="${totalPages>0}">
		<div class="row col-sm-10">
			<div class="col-sm-2">
				Total Rows: [[${totalItems}]]
			</div>
			<div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1,totalPages)}">
					<a th:if="${currentPage != i}" th:href="@{'/admin/staff/list/' + ${i}+'?keyword='+${keyword}}">[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
				</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage<totalPages}" th:href="@{'/admin/staff/list/' + ${currentPage +1}+'?keyword='+${keyword}}">Next</a>
				<span th:unless="${currentPage<totalPages}">Next</span>
			</div>
			<div class="col-sm-1">
				<a th:if="${currentPage<totalPages}" th:href="@{'/admin/staff/list/' + ${totalPages}+'?keyword='+${keyword}}">Last</a>
				<span th:unless="${currentPage<totalPages}">Last</span>
			</div>
		</div>
	</div>
</div>
</body>

</html>