<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/adminGeneral.html :: headerfiles"/>
<body>
<div th:replace="fragments/adminGeneral.html :: menu"></div>
<div class = "main-div">
    <form action="#" th:object="${leaveType}" th:action="@{/admin/leave-type/save}"
          method="post">
        <fieldset>
            <input type="hidden" th:field="*{leaveTypeId}">
        </fieldset>
        <fieldset>
            Leave Type Description <input type="text" th:field="*{description}">
            <p style="color:red" th:if"${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </fieldset>
        <fieldset>
            <input type="submit" value="Save"/>
            &nbsp; &nbsp;
            <input type="reset" value="Reset"/>
        </fieldset>

    </form>
</div>

</body>
</html>