<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head th:if="${#strings.equals(#session.getAttribute('role'), 'Manager')}" th:replace="fragments/managerGeneral.html :: headerfiles"/>
<head th:if="${#strings.equals(#session.getAttribute('role'), 'Staff')}" th:replace="fragments/staffGeneral.html :: headerfiles"/>
 


<body>
<div th:if="${#strings.equals(#session.getAttribute('role'), 'Manager')}">
   <div th:replace="fragments/managerGeneral.html :: menu"></div>
</div>

<div th:if="${#strings.equals(#session.getAttribute('role'), 'Staff')}">
   <div th:replace="fragments/staffGeneral.html :: menu"></div>
</div>

    <h1 align="center">Compensation Claim Form</h1 >


	<form action = "claimcompensation" th:object="${claimcompensation}" th:action="@{/staff/claimcompensation/submit}" method="POST">
	 	<input type="hidden" th:field="*{compensationClaimId}"th:attr="name='compensationClaimId'"/>  
	   <!-- <input type="hidden" th:value="${session.id}" th:attr="Username='user.id'">
-->		    	
	    <div class="row mb-3">
	        <label class="col-sm-2 col-form-label">Claim Date</label>
	        <div class="col-sm-5">
	            <input type="date" th:field="*{claimDate}"
	                   placeholder="yyyy-MM-dd"
	                   min="2021-12-01" max="2022-12-31"
	                   required>
	        </div>
	    </div>
	    <div class="row mb-3">
	        <label class="col-sm-2 col-form-label">Days Requested</label>
	        <div class="col-sm-5">
	            <input type="number" step="0.5" min = "0" max = "14" th:field="*{daysRequested}"
	                   placeholder="Granularity of 0.5 days"
	                   required>
	        </div>
	    </div> 

	    <div class="row mb-3">
	        <label class="col-sm-2 col-form-label">Compensation Reason</label>
	        <div class="col-sm-5">
	            <textarea class="form-control" th:field="*{compensationReason}" placeholder="Reason for compensation..." rows="4" required></textarea>
	        </div>
	    </div> 
	    <button class="btn btn-primary" type="submit">Submit Claim</button>
	    <button class="btn btn-secondary" type="reset">Reset Fields</button>
	</form>

</body>
</html>