<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:if="${#strings.equals(#session.getAttribute('role'), 'Manager')}" th:replace="fragments/managerGeneral.html :: headerfiles"/>
<head th:if="${#strings.equals(#session.getAttribute('role'), 'Staff')}" th:replace="fragments/staffGeneral.html :: headerfiles"/>


<body>
<div th:if="${#strings.equals(#session.getAttribute('role'), 'Manager')}">
   <div th:replace="fragments/managerGeneral.html :: menu"></div>
</div>

<div th:if="${#strings.equals(#session.getAttribute('role'), 'Staff')}">
   <div th:replace="fragments/staffGeneral.html :: menu"></div>
</div>


<form th:object="${leaveApplied}">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Leave ID</label>
        <div class="col-sm-5">
            <input class="form-control" th:field="*{leaveAppliedId}" rows="4" readonly/>
        </div>
    </div>
    <input type="hidden" th:value="${session.id}" th:attr="name='user.id'">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Leave Type</label>
        <div class="col-sm-5">
            <textarea class="form-control" th:field="*{leaveType.description}" rows="4" readonly></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Start date</label>
        <div class="col-sm-5">
            <input type="date" th:field="*{leaveStartDate}"
                   placeholder="yyyy-MM-dd"
                   min="2021-12-01" max="2022-12-31"
                   required pattern="\d{2}-\d{2}-\d{4}" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">End date</label>
        <div class="col-sm-5">
            <input type="date" th:field="*{leaveEndDate}"
                   placeholder="yyyy-MM-dd"
                   min="2021-12-01" max="2022-12-31"
                   required pattern="\d{2}-\d{2}-\d{4}" readonly>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Reason of Leave</label>
        <div class="col-sm-5">
            <textarea class="form-control" th:field="*{leaveReason}" rows="4" readonly></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label>Work Dissemination:</label>
        <div>
            <textarea class="form-control" th:field="*{workDissemination}" rows="4" readonly></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Overseas Trip</label>
        <div class="col-sm-5">
            <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" type="radio" value="true" checked
                                                       th:field="*{isOverseas}" disabled> Yes</label>
            </div>
            <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" type="radio" value="false"
                                                       th:field="*{isOverseas}" disabled>No</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:field="*{overseasTrip.country}" readonly/>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:field="*{overseasTrip.city}" readonly/>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" th:field="*{overseasTrip.phone}" readonly/>
        </div>
    </div>
    <a th:href="@{/staff/edit/}+${leaveApplied.leaveAppliedId}"
       th:if="${leaveApplied.approvalStatus == T(sg.edu.iss.LAPS.utility.LeaveStatus).APPLIED}">
        <button type="button" class="btn btn-danger" style="background-color:orange">Edit</button>
    </a>
    <a th:href="@{/staff/delete/}+${leaveApplied.leaveAppliedId}"
       th:if="${leaveApplied.approvalStatus == T(sg.edu.iss.LAPS.utility.LeaveStatus).APPLIED}">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
    <a th:href="@{/staff/viewHistory}">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
</form>


<br>
<br>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">Type of Leave</th>
        <th scope="col">Initial Balance</th>
        <th scope="col">Taken</th>
        <th scope="col">Availiable</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Medical Leave</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <th scope="row">Annual Leave</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <th scope="row">Compensation</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    </tbody>
</table>

</body>