<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles"/>

<body>
    <div th:replace="fragments/managerGeneral.html :: menu"></div>
	<h3> Team Compensation Claims </h3 >
	<br/>

	<centre>
	<h5 th:if="${#lists.isEmpty(compLeaves)}" style="text-align: center;"> No Compensation Claims Lodged </h5>
	</centre>

	<div th:if="${not #lists.isEmpty(compLeaves)}">
		<table class="content-table">
			<tr class="listHeading" >
			
					<th>Compensation Claim Id</th>
					<th>Staff Name</th>
					<th>Claim Date</th>
					<th>Days Requested</th>
					<th>Status</th>
					<th>Action</th>
			</tr>
			
			<tr class="listRecord" th:each="compLeave : ${compLeaves}">
			<!--entry iterated inside pendingLeaves list-->
					<td th:text="${compLeave.compensationClaimId}">Id</td>
					<td th:text="${compLeave.user.firstName + ' ' + compLeave.user.lastName}">Staff Name</td>
					<td th:text="${compLeave.claimDate}">Claim Date</td>
					<td th:text="${compLeave.daysRequested}">Days Requested</td>
					<td th:text="${compLeave.claimStatus}">Status</td>
					<td>
					<button type="button">
						<a th:href="@{/manager/compensation/display/}+${compLeave.compensationClaimId}"
							class="btn btn-default">View Details</span>
					</a>
					</button>
					</td>
			</tr>
		</table >
	</div>

</body>
</html>