<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles"/>

<body>
    <div th:replace="fragments/managerGeneral.html :: menu"></div>
	<h3> Team Member Leave History </h3 >
	<h5 th:text="${'Staff Name: ' + thisSub.firstName + ' ' + thisSub.lastName}"> </h5>
	<br/>
	
	<button type="button"><a th:href="@{/manager/team}"
					class="btn btn-default">Back to Team</a></button>
	
	
	<centre>
	<h5 th:if="${#lists.isEmpty(thisSubLeave)}" style="text-align: center;"> No Leave Entries Found for This Team Member </h5>
	</centre>
	<table class="content-table" th:unless="${#lists.isEmpty(thisSubLeave)}" border="1 pt">
		<thead>
			<tr>
				<th>Leave ID</th>
				<th>Staff Name </th>
				<th>Applied Date </th>
				<th>Leave Start Date </th>
				<th>Leave End Date </th>
				<th>Leave Type </th>
				<th>No. of Days </th>
				<th>Status </th>
				<th> Action </th> 
			</tr>
		</thead>
		<tbody>	
			<tr class="listRecord" th:each="leave : ${thisSubLeave}">
				<td th:text="${leave.leaveAppliedId}">Leave Id</td>
				<td th:text="${leave.user.firstName+ ' '+leave.user.lastName}">Staff Name</td>
				<td th:text="${leave.appliedDate}">Applied Date</td>
				<td th:text="${leave.leaveStartDate}">Leave Start Date</td>
				<td th:text="${leave.leaveStartDate}">Leave End Date</td>
				<td th:text="${leave.leaveType.description}">LeaveType</td>
				<td th:text="${leave.noOfDays}">Days Requested</td>
				<td th:text="${leave.approvalStatus}">Status</td>
				<td><button type="button"><a th:href="@{/manager/leave/display/}+${leave.leaveAppliedId}"
					class="btn btn-default">View Details</a></button></td>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>