<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: html_head"/>

<body>
	<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/managerGeneral.html :: header"/>
	<div th:replace="fragments/managerGeneral.html :: manager_head"/> 
	<h3>My Team</h3>
	
	<div th:if="${not #lists.isEmpty(teamList)}">
		<table style="border: 1;">
			<tr class="listHeading">
				<th>Staff ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>View Leave History</th>
			</tr>
			<tr class="listRecord" th:each="teamMember : ${teamList}">
				<td th:text="${teamMember.id}">Id</td>
				<td th:text="${teamMember.firstName}">First Name</td>
				<td th:text="${teamMember.lastName}">Last Name</td>
				<td th:text="${teamMember.email}">Email</td>
				<td><a href = "managerTeamMemLeaveList.html"
				 	th:href="@{/manager/team/}+${teamMember.id}"
					class="btn btn-default"><span th:text="View Leaves"></span></a></td>
			</tr>
		</table>
	</div>
</body>
</html>