<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles"/>

<body>
    <div th:replace="fragments/managerGeneral.html :: menu"></div>
	<h3 >My Team </h3 >
	
	<form th:action="@{/manager/team}" method="GET">
		Search Employees by Name: 
		<input type="text" name="keyword" th:value="${keyword==''}?'':${keyword}" /> 
		<input type="submit" value="Search" />
	</form>
	
	<br/>
	
	<table class="content-table" th:unless="${#lists.isEmpty(teamList)}" border="1 pt">
		<thead>
			<tr>
				<th>Staff ID</th>
				<th>Staff Name</th>
				<th>Email</th>
				<th> No. of Entries </th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>	
			<tr class="listRecord" th:each="teamMember : ${teamList}">
				<td th:text="${teamMember.id}">Id</td>
				<td th:text="${teamMember.firstName+ ' '+teamMember.lastName}">Staff Name</td>
				<td th:text="${teamMember.email}">Email</td>
				<td th:text="${#lists.size(teamMember.leaveAppliedList)}">No. of Entries</td>
				<td>
				<button type="button">
					<a href = "subLeaves.html" th:href="@{/manager/team/}+${teamMember.id}"
					class="btn btn-default"> View Leave History </a>
				</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>