<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles"/>

<body>
    <div th:replace="fragments/managerGeneral.html :: menu"></div>
	<h3> Manager's Landing Page </h3 >
	<h4 th:text="${'Welcome, ' + manager.firstName + ' ' + manager.lastName + '!'}"></h4>
	<br/>
	
	<h5> Your Tasks </h5>
	<p th:if="${pendingLeaveCount == 0}"> No outstanding tasks today! </p>
	<p th:unless="${pendingLeaveCount == 0}" th:text ="${pendingLeaveCount + ' leave applications pending your approval'}" style></p>
	
	

<h5> Manage Team Leave Applications </h5>


&nbsp;&nbsp;

<button type="button">
	<a th:href="@{/manager/pending}" class="btn btn-default">Review Pending Leaves</a>
</button></td>

&nbsp;&nbsp;
	
<button type="button">
	<a th:href="@{/manager/compensation}" class="btn btn-default">Review Team Compensation Claims</a>
</button></td>

&nbsp;&nbsp;	

<button type="button">
	<a th:href="@{/manager/team}" class="btn btn-default">View Team Leave History</a>
</button></td>		

<br/><br/><br/>


<h5> Manage Personal Leaves </h5>

&nbsp;&nbsp;

<button type="button">
	<a th:href="@{/staff/applyleave}" class="btn btn-default"> Apply for Leave </a>
</button></td>

&nbsp;&nbsp;
	
<button type="button">
	<a th:href="@{/staff/claimcompensation}" class="btn btn-default"> Make a Compensation Claim </a>
</button></td>

&nbsp;&nbsp;
	
<button type="button">
	<a th:href="@{/staff/viewLedger}" class="btn btn-default"> View Compensation Ledger </a>
</button></td>

&nbsp;&nbsp;	

<button type="button">
	<a th:href="@{/staff/viewHistory}" class="btn btn-default">View Personal Leave History</a>
</button></td>	

</body>

</html>