<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles"/>

<body>
    <div th:replace="fragments/managerGeneral.html :: menu"></div>
	<h3> Team Leaves - Pending Approval </h3 >
	<br/>

	<centre>
	<h5 th:if="${#lists.isEmpty(thisSubLeave)}" style="text-align: center;"> No Pending Leave Applications </h5>
	</centre>

	<div th:if="${not #lists.isEmpty(pendingLeaves)}">
		<table class="content-table">
			<tr class="listHeading" >
			
					<th th:utext="#{fieldLabel.leaveID}">LeaveID</th>
					<th th:utext="#{fieldLabel.name}">Name</th>
					<th th:utext="#{fieldLabel.appliedDate}">AppliedDate</th>
					<th th:utext="#{fieldLabel.startDate}">LeaveStartDate</th>
					<th th:utext="#{fieldLabel.endDate}">LeaveEndDate</th>
					<th th:utext="#{fieldLabel.leaveType}">LeaveType</th>
					<th th:utext="#{fieldlabel.status}">Status</th>
					<th th:utext="Action">Action</th>
			</tr>
			<tr class="listRecord" th:each="leaveApplied : ${pendingLeaves}">
			<!--entry iterated inside pendingLeaves list-->
					<td th:text="${leaveApplied.leaveAppliedId}">Id</td>
					<td th:text="${leaveApplied.user.Username}">Name</td>
					<td th:text="${leaveApplied.appliedDate}">Applied Date</td>
					<td th:text="${leaveApplied.leaveStartDate}">LeaveStartDate</td>
					<td th:text="${leaveApplied.leaveEndDate}">LeaveEndDate</td>
					<td th:text="${leaveApplied.leaveType.description}">LeaveType</td>
					<td th:text="${leaveApplied.approvalStatus}">Status</td>
					<td>
					<button type="button">
						<a th:href="@{/manager/leave/display/}+${leaveApplied.leaveAppliedId}"
							class="btn btn-default"> Details </span>
					</a>
					</button>
					</td>
			</tr>
		</table >
	</div>

</body>
</html>