<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles">
	<meta charset="UTF-8"/>
</head>
<body>
	<!--<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/managerGeneral.html :: manager_head"/> -->
	<div th:replace="fragments/managerGeneral.html :: menu"/>
	<h3>Leave Details</h3>
<!--Detailed table of the leave-->
<table class="content-table">
		<tr align= "Centre" style="background-color:black">
			<th colspan="2" align="Center"><ul><b><h4 style="text-align:center;color:aliceblue">Leave Application Details</b></h4 ></ul ></th>
		</tr >
		
		<tr>
			<th align="right"><span>Leave ID</span></th>
			<td th:text="${leaveApplied.leaveAppliedId}">Id</td>
		</tr>
		<tr>
			<th align="right"><span>Name</span></th>
			<td  th:text="${leaveApplied.user.Username}">Name</td>
		</tr>
		<tr>
			<th align="right">Leave Applied Date</th>
			<td th:text="${#dates.format(leaveApplied.appliedDate,'dd-MMM-yyyy')}">applied Date</td>
		</tr>
		<tr>
			<th align="right">Leave Start Date</th>
			<td th:text="${#dates.format(leaveApplied.leaveStartDate, 'dd-MMM-yyyy')}">From Date</td>

		</tr>
		
		<tr>
			<th align="right">Leave End Date</th>
			<td th:text="${#dates.format(leaveApplied.leaveEndDate, 'dd-MMM-yyyy')}">To Date</td>
		</tr>
		<tr>
			<th align="right">Leave Type</th>
			<td th:text="${leaveApplied.leaveType.description}">Leave Type</td>
		</tr>
		<tr>
			<th align="right">Leave Reason</th>
			<td  th:text="${leaveApplied.leaveReason}">Leave Reason</td>
		</tr>
		
		<tr>
			<th align="right">Overseas Trip</th>
			<td th:if="${leaveApplied.isOverseas AND leaveApplied.overseasTrip != null}" th:text="${leaveApplied.isOverseas} + ${leaveApplied.overseasTrip.country}">isOverSeas</td>
			<td th:text="${leaveApplied.isOverseas}">isOverSeas</td>
		</tr>
		
		<tr>
			<th align="right">Status</th>
			<td th:text="${leaveApplied.approvalStatus}">Status</td>
		</tr>
		
		<tr>
			<th align="right">Comment</th>
			<td th:text="${leaveApplied.managerComments}">Status</td>
		</tr>
	</table  >


<!--Radio button and comments-->
<form action="#" th:action="@{/manager/leave/edit/}+${leaveApplied.leaveAppliedId}" th:object="${approve}" method="post">
		<table>
			<tr>
				<td>
					<fieldset>
						<input type="radio" th:field="*{decision}" th:value="APPROVED" />
						<label th:text="#{caption.approve}"></label> &nbsp;&nbsp;
						<input type="radio" th:field="*{decision}" th:value="REJECTED" /> 
						<label th:text="#{caption.reject}"></label>
						<p style="color: red;" th:if="${#fields.hasErrors('decision')}" th:errors="*{decision}"></p >
					</fieldset>
				</td>
			</tr >
			<tr>
				<td>
					<fieldset>
						<span><b>Manager Comment</b></span> <br>
						<textarea rows="1" cols="50" th:field="*{comment}" placeholder="Please enter your comment here">Text Area</textarea>
						<p style="color: red;" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></p >
					</fieldset>

				</td>
			</tr >
			<tr>
				<td>
					<fieldset>
					<input th:type="submit" th:value="Update" class="blcass" />
					</fieldset>
				</td>

			</tr>
		</table>

	</form>
</body>
</html>