<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/managerGeneral.html :: headerfiles"/>

<body>
    <div th:replace="fragments/managerGeneral.html :: menu"></div>
	<h3> Manager's Landing Page </h3 >
	<br/>
	
	

<h5> Manage Team Leave Applications </h5>


&nbsp;&nbsp;

<button type="button">
	<a th:href="@{/manager/pending}" class="btn btn-default">Approve Pending Leaves</a>
</button></td>

&nbsp;&nbsp;
	
<button type="button">
	<a th:href="@{/manager/compensation}" class="btn btn-default">Review Team Compensation Claims</a>
</button></td>

&nbsp;&nbsp;	

<button type="button">
	<a th:href="@{/manager/team}" class="btn btn-default">View Team Leave History</a>
</button></td>		

<br/><br/><br/>


<h5> Manage Personal Leaves </h5>

&nbsp;&nbsp;

<button type="button">
	<a th:href="@{/applyleave}" class="btn btn-default"> Apply for Leave </a>
</button></td>

&nbsp;&nbsp;
	
<button type="button">
	<a th:href="@{/leave/viewHistory}" class="btn btn-default"> Make a Compensation Claim </a>
</button></td>

&nbsp;&nbsp;	

<button type="button">
	<a th:href="@{/leave/viewHistory}" class="btn btn-default">View Personal Leave History</a>
</button></td>	

</body>

</html>