<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/staffGeneral.html :: headerfiles"/>

<body>
<div th:replace="fragments/staffGeneral.html :: menu"></div>
<div class="main-div">
    <p th:if="${leaveAppliedList.empty}" style="color:red" align="center">No applied leaves found.</p>
    <table class="content-table" th:if="${not #lists.isEmpty(leaveAppliedList)}">
        <thead>
        <tr>
            <td><b>Leave ID</b></td>
            <td><b>Leave Type</b></td>
            <td><b>Start Date</b></td>
            <td><b>End Date</b></td>
            <td><b>Number of Days</b></td>
            <td><b>Status</b></td>
            <td><b>Detail</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaveApplied:${leaveAppliedList}">
            <td th:text=${leaveApplied.leaveAppliedId}>leave ID</td>
            <td th:text=${leaveApplied.leaveType.description}>Leave Type</td>
            <td th:text=${leaveApplied.leaveStartDate}>Start Date</td>
            <td th:text=${leaveApplied.leaveEndDate}>End Date</td>
            <td th:text=${leaveApplied.noOfDays}>Number of Days</td>
            <td th:text=${leaveApplied.approvalStatus}>Status</td>
            <td><a th:href="@{/leave/detail/}+${leaveApplied.leaveAppliedId}">
                <button type="button" class="btn btn-danger">Detail</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>