<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/staffGeneral.html :: headerfiles"/>

<body>
<div th:replace="fragments/staffGeneral.html :: menu"></div>
<div class="main-div">
    <p th:if="${leaveAppliedList.empty}" style="color:red" align="center">No applied leaves found.</p>
    <table class="content-table" th:if="${not #lists.isEmpty(leaveAppliedList)}">
        <thead>
        <tr>
            <td><b>Leave ID</b></td>
            <td><b>Leave Type</b></td>
            <td><b>Start Date</b></td>
            <td><b>End Date</b></td>
            <td><b>Number of Days</b></td>
            <td><b>Status</b></td>
            <td><b>Detail</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaveApplied:${leaveAppliedList}">
            <td th:text=${leaveApplied.leaveAppliedId}>leave ID</td>
            <td th:text=${leaveApplied.leaveType.description}>Leave Type</td>
            <td th:text=${leaveApplied.leaveStartDate}>Start Date</td>
            <td th:text=${leaveApplied.leaveEndDate}>End Date</td>
            <td th:text=${leaveApplied.noOfDays}>Number of Days</td>
            <td th:text=${leaveApplied.approvalStatus}>Status</td>
            <td><a th:href="@{/staff/detail/}+${leaveApplied.leaveAppliedId}">
                <button type="button" class="btn btn-danger">Detail</button>
            </a></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages>0}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
				<span th:each="i: ${#numbers.sequence(1,totalPages)}">
					<a th:if="${currentPage != i}" th:href="@{'/staff/viewHistory/' + ${i}}">[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
				</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage<totalPages}" th:href="@{'/staff/viewHistory/' + ${currentPage +1}}">Next</a>
                <span th:unless="${currentPage<totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage<totalPages}" th:href="@{'/staff/viewHistory/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage<totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>